*{
/* padding-left: 0 !important; */
}

.container{
  margin-top: 30px;
  background-color: #fff6de;
  left:20%;
  width: 60% !important;
  right:20%;
  border-style: solid;
  border-color: saddlebrown;

}

.mysubmit{
  margin-bottom: 30px;
}

.signUp{
  font-size: xx-large;
  text-decoration: underline;
  padding-left:40%;
}

